* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.app-container {
    width: 100%;
    margin-top: 2.5%;
   
  
   

}

.footer-container {
    background-color: black;
    width: 100%;
    height: 200px;
    bottom:  -500px;
    position: absolute;

   
   
}
