.search-box-container {
    position: relative;
    left: 68%;
    
}

.search-box {
    width: 23%;
}

.anime-list {
    
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 400px;
    position: relative;
    left: 67%;
    margin-top: 0.5%;
    
    
   
   
    
    
    
   
    
}
