.search-box-container {
    position: relative;
    left: 68%;
    
}

.search-box {
    width: 23%;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 15px;
    height: 45px;
    width: 320px;
}

.anime-list {
    
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 400px;
    position: relative;
    left: 67%;
    margin-top: 0.5%;
   
    
   
    
}

.anime-list li {
    overflow: hidden;
    overflow-y: auto;
   
    
}

.anime-list li::-webkit-scrollbar {
    display: none;
}
